@-moz-document regexp(".*www\.nicovideo\.jp.watch.*") {
  body, .header, .tagCaption, .banner.ads,
  .wallAlignmentArea, #bottomContentTabContainer #outline {
    background: #202227 !important; }

  #videoHeaderDetail, .shortVideoInfo, .videoDescription, .userProfile, .videoMainInfoContainer, .extraVideoInfo, .favVideoOwner, .favVideoOwner .isNotFavoritedText, .favVideoOwner .isFavoritedText,
  .parentVideoInfo, .parentVideoInfo cct, .expandTriger, #videoTagContainer, .toggleTagEdit, .videoHeaderTagLink, #videoMenuWrapper, .videoMenuList > a,
  #playerContainer,
  #playerTabWrapper .player-tab-item, #playerTabWrapper .player-tab-content, #playerTabWrapper .slick-header-column, #playerTabWrapper .panel-body .slick-header-columns, #playerTabWrapper .playerTabAds, #playerTabContainer,
  .sidebar .tagRelatedBanner, .sidebar .tagRelatedBanner .heading, .sidebar #liveTopics, .sidebar #liveTopics .liveTopicsTitle,
  .ichiba_mainitem,
  #superBannerAds {
    background: #111 !important;
    color: #b8b8b8 !important;
    border-color: #1e1e1e !important; }

  VideoDescription-html a, span.VideoDescriptionExpander-switch,
  .VideoOwnerInfo-pageLink:link, .VideoOwnerUploadedLink-button,
  .CategoryRankMeta-highestPast a:link, .toggleDetailExpand > span,
  .ichiba_mainitem .itemname a,
  #ichibaMainLogo a {
    color: #6898F8 !important;
    text-shadow: 1px 1px 1px #004 !important;
    transition: color 150ms ease-out, text-shadow 150ms ease-out, border 150ms ease-out !important; }
    VideoDescription-html a:hover, span.VideoDescriptionExpander-switch:hover,
    .VideoOwnerInfo-pageLink:link:hover, .VideoOwnerUploadedLink-button:hover,
    .CategoryRankMeta-highestPast a:link:hover, .toggleDetailExpand > span:hover,
    .ichiba_mainitem .itemname a:hover,
    #ichibaMainLogo a:hover {
      color: #80c0f0 !important;
      text-shadow: 1px 1px 1px #22a !important; }
    VideoDescription-html a:visited, span.VideoDescriptionExpander-switch:visited,
    .VideoOwnerInfo-pageLink:link:visited, .VideoOwnerUploadedLink-button:visited,
    .CategoryRankMeta-highestPast a:link:visited, .toggleDetailExpand > span:visited,
    .ichiba_mainitem .itemname a:visited,
    #ichibaMainLogo a:visited {
      color: #CA85AF !important;
      text-shadow: 1px 1px 1px #fff !important; }
    VideoDescription-html a:active, span.VideoDescriptionExpander-switch:active,
    .VideoOwnerInfo-pageLink:link:active, .VideoOwnerUploadedLink-button:active,
    .CategoryRankMeta-highestPast a:link:active, .toggleDetailExpand > span:active,
    .ichiba_mainitem .itemname a:active,
    #ichibaMainLogo a:active {
      color: #aaf !important; }

  #textMarquee {
    background: #000 !important; }
    #textMarquee .textMarqueeOuter, #textMarquee .prevButton, #textMarquee .nextButton {
      visibility: hidden !important; }

  .nicoSpotAds {
    display: none !important; }

  .panelAds {
    display: none !important; }

  .sidebar #rectangleAd, .sidebar #sideFollowAd {
    display: none !important; }

  #superBanner.adBnr {
    display: none !important; }

  #videoExplorerSideFollowAd, #videoExplorerSuperBannerAds {
    display: none !important; }

  /** Player (flash) */
  #videoHeaderDetail, .videoDescription, .videoMainInfoContainer, #videoMenuWrapper, #playerContainer {
    border-width: 3px !important;
    border-style: solid !important; }

  #videoHeaderMenu .searchText {
    margin-right: 12px !important;
    /* TODO set color of input[type="text"] (including ones in other pages) */
    filter: invert(80%) !important; }

  #videoHeaderMenu .searchText .clear-button-inner {
    margin-right: 12px !important; }

  #videoHeaderDetail {
    width: auto !important;
    margin: 0 !important;
    padding: 0 12px 0 !important; }

  .videoDetailExpand h2 {
    max-width: 656px !important; }

  .videoHeaderTitle {
    color: #DD6 !important; }

  .toggleDetailExpand {
    margin: 0 !important;
    padding: 0 12px !important;
    height: 10px !important; }

  .toggleDetailExpand .close {
    position: relative !important;
    top: 18px !important; }

  .shortVideoInfo {
    margin-top: -3px !important;
    border-style: solid !important;
    border-width: 3px !important;
    border-top: none !important;
    padding-left: 12px !important; }

  .favVideoOwnerStar:not(.isFavorited) {
    filter: invert(80%) !important; }

  .videoDescription {
    padding: 6px 12px !important;
    width: auto !important;
    margin: 0 !important;
    min-height: 100px !important; }

  .userProfile {
    margin: 34px 12px 8px 8px !important;
    /* TRBL */
    border-width: 2px !important;
    border-style: solid !important; }

  .videoMainInfoContainer {
    padding: 6px 12px 10px !important;
    margin-top: 8px !important; }

  .parentVideoInfo {
    margin-left: 0 !important;
    border-width: 2px !important; }

  .dicIcon .dic {
    display: inline !important;
    padding-left: 0 !important;
    vertical-align: unset !important; }

  .socialLinkGoogle {
    filter: brightness(90%) !important; }

  #topVideoInfo {
    margin-bottom: 0 !important; }

  #videoHeader.menuClosed {
    margin-bottom: 0px !important;
    padding-bottom: 8px !important; }

  #videoHeader.menuOpened {
    padding-bottom: 20px !important; }

  #videoTagContainer {
    margin-top: 8px !important;
    /* see #topVideoInfo */
    padding: 4px 12px 4px !important;
    width: auto !important;
    height: auto !important;
    border-style: solid !important;
    border-width: 3px !important; }

  .toggleTagEdit {
    height: auto !important;
    padding: 2px 0 !important;
    margin-top: 2px !important; }

  .toggleTagEdit .videoHeaderTagEditLink {
    text-shadow: 1px 1px 1px #733 !important; }

  .tagInner {
    height: 54px !important;
    padding-right: 32px !important; }

  .videoMenuToggleButton {
    transform: scale(0.5) !important;
    margin: 0 12px 3px 0 !important;
    margin-right: 0px !important;
    margin-top: 0px !important; }

  #videoMenuWrapper {
    width: auto !important;
    margin-top: -3px !important;
    /* in order to remove border-top */
    border-top: none !important; }

  #videoMenuTopList {
    margin-top: 6px !important; }

  #videoMenuTopList .nicoru-button {
    display: none !important; }

  /*     .videoMenuList { width: 100px !important; } */
  #playerContainer {
    padding-top: 0 !important;
    margin-bottom: 8px !important; }

  #textMarquee {
    background: #000 !important;
    border-bottom: dotted #303030 2px !important; }

  /* Comment panel (flash) */
  #playerTabContainer {
    border-color: #333 !important;
    border-width: 2px !important; }

  #playerTabContainer .player-tab-item {
    border-color: #333 !important;
    border-width: 2px !important;
    color: #ddd !important;
    font-size: 105% !important; }

  #playerTabContainer .player-tab-item.active {
    background: #444 !important;
    color: #eeeee0 !important;
    z-index: 1000 !important; }

  #playerTabContainer .player-tab-content {
    border-top: solid #444 1px !important; }

  #playerTabWrapper .panel-header > .header-icon {
    filter: invert(80%) !important; }

  #playerTabWrapper .panel-body .panel-grid {
    border-color: #999 !important;
    border-width: 1px !important; }

  #playerTabWrapper .panel-body .slick-header-columns {
    border-bottom: #999 solid 2px !important;
    margin-left: 2px !important; }

  #playerTabWrapper .panel-body .slick-resizable-handle {
    right: 0px !important;
    width: 3px !important;
    background: #a0aabb !important; }

  #playerTabWrapper .panel-body .slick-header, #playerTabWrapper .panel-body .slick-header-columns, #playerTabWrapper .panel-body .slick-header-columns .slick-header-column {
    background: #202020 !important;
    color: #ddd !important; }

  #playerTabWrapper .panel-body .slick-header-columns .slick-header-column.slick-header-column-sorted {
    color: #fff !important;
    background: #444 !important; }

  #playerTabWrapper .slick-viewport .slick-row:hover {
    background: #303030 !important; }

  #playerTabWrapper .slick-viewport .slick-cell {
    color: #9df !important; }

  #playerTabWrapper .playerTabAds {
    visibility: hidden !important; }

  .chipWallListItemImage {
    filter: invert(100%) !important; }

  .sidebar .tagRelatedBanner, .sidebar #liveTopics {
    border-width: 2px !important;
    border-style: solid !important; }

  #bottomContentTabContainer .outer {
    width: 980px !important; }

  #ichibaMain {
    width: 640px !important; }

  #ichibaMainLogo a, #ichibaMainLogo a:visited {
    color: #dd6 !important; }

  .ichiba_mainitem {
    width: 180px !important;
    margin: 0px 9px 30px !important;
    padding: 4px !important;
    border-style: solid !important;
    border-width: 2px !important; }

  #ichibaMain dl:nth-child(3n-1) {
    margin-left: 3px !important; }

  #ichibaMain dl:nth-child(3n+1) {
    margin-right: 2px !important; }

  .ichiba_mainitem img {
    filter: brightness(90%) !important; }

  .ichiba_mainitem .price {
    color: #ddd !important; }

  .ichiba_mainitem .click {
    color: #ddd !important; }

  .videoHeaderTitle {
    color: #d5d555 !important; }

  #textMarquee {
    background: #000 !important; }
    #textMarquee .textMarqueeOuter, #textMarquee .prevButton, #textMarquee .nextButton {
      visibility: hidden !important; }

  .playerTabAds,
  .nicoSpotAds,
  .sidebar #rectangleAd,
  .sidebar #sideFollowAd,
  #emptyIchibaAds,
  #superBanner.adBnr {
    display: none !important; } }
@-moz-document regexp(".*www\.nicovideo\.jp.watch.*") {
  body, .HeaderContainer {
    background: #202227 !important; }

  .HeaderContainer > div:nth-child(1), .VideoDescriptionContainer, .HeaderContainer > div:nth-child(3), .TagContainer {
    background: #111 !important;
    color: #b8b8b8 !important;
    border-color: #1e1e1e !important;
    border-style: solid !important;
    border-width: 3px !important;
    padding: 6px 12px !important; }

  .HeaderContainer > div:nth-child(1) {
    width: 100% !important; }

  .VideoTitle {
    color: #d5d555 !important; }

  .SearchBox {
    height: 24px !important;
    border: solid #666 1px !important;
    border-radius: 2px !important; }
    .SearchBox .SearchBox-optionButton {
      padding: 2px !important;
      background: #323232 !important;
      border-right: solid #666 1px !important; }
      .SearchBox .SearchBox-optionButton .SearchBox-optionButtonIcon {
        width: 18px !important;
        height: 18px !important; }
      .SearchBox .SearchBox-optionButton .SearchBox-optionDown {
        margin-right: 4px !important;
        width: 10px !important; }
    .SearchBox .TagSuggestionInput-input {
      background: #323232 !important;
      box-shadow: none !important;
      color: #eee !important; }
    .SearchBox .SearchBox-submitButton {
      padding: 5px !important; }

  .VideoDescriptionContainer {
    width: 100% !important; }

  .VideoOwnerIcon-image {
    filter: invert(70%) !important; }

  .VideoOwnerInfo-pageLink {
    color: #6898F8 !important;
    text-shadow: 1px 1px 1px #004 !important;
    transition: color 150ms ease-out, text-shadow 150ms ease-out, border 150ms ease-out !important; }
    .VideoOwnerInfo-pageLink:hover {
      color: #80c0f0 !important;
      text-shadow: 1px 1px 1px #22a !important; }
    .VideoOwnerInfo-pageLink:visited {
      color: #CA85AF !important;
      text-shadow: 1px 1px 1px #fff !important; }
    .VideoOwnerInfo-pageLink:active {
      color: #aaf !important; }

  .VideoMetaContainer > div {
    box-shadow: none !important;
    border-left: dotted #222 2px !important; }

  .VideoMetaContainer > div > p {
    background: #111 !important;
    color: #b8b8b8 !important;
    border-color: #1e1e1e !important; }

  .VideoMetaContainer > div > time, .VideoMetaContainer > div span {
    background: #111 !important;
    color: #b8b8b8 !important;
    border-color: #1e1e1e !important; }

  .TagContainer .ClickInterceptor {
    filter: invert(85%) brightness(140%) !important; }

  .TagContainer-editButton {
    border-radius: 3px !important; }

  .TagItem {
    background: #030303 !important;
    border-color: #225 !important;
    transition: border 150ms ease-out, text-shadow 150ms ease-out !important;
    border-radius: 3px !important; }
    .TagItem > a {
      color: #ddd !important;
      text-shadow: 1px 1px 1px #888 !important; }
    .TagItem:hover {
      border-color: #80c0f0 !important; }
      .TagItem:hover > a {
        color: #fafaf3 !important;
        text-shadow: 1px 1px 1px #fafaf3 !important; }
    .TagItem > a {
      font-weight: normal !important; }

  .MarqueeContainer {
    border-bottom: dotted #303030 2px !important;
    margin-bottom: 1px !important; }

  .MainContainer {
    background: #111 !important;
    color: #b8b8b8 !important;
    border-color: #1e1e1e !important;
    border-style: solid !important;
    border-width: 3px !important; }

  .MainContainer-commentPanel {
    background: #111 !important;
    color: #b8b8b8 !important;
    border-color: #1e1e1e !important; }
    .MainContainer-commentPanel .VideoMenuContainer {
      position: absolute !important;
      bottom: 0 !important; }
      .MainContainer-commentPanel .VideoMenuContainer:after {
        border-bottom: none !important; }
    .MainContainer-commentPanel .VideoMenuContainer-areaLeft {
      background: #111 !important;
      color: #b8b8b8 !important;
      border-color: #1e1e1e !important; }
      .MainContainer-commentPanel .VideoMenuContainer-areaLeft .ClickInterceptor {
        filter: invert(70%) !important; }
      .MainContainer-commentPanel .VideoMenuContainer-areaLeft .VideoMenuContainer-button {
        width: 25px !important; }
      .MainContainer-commentPanel .VideoMenuContainer-areaLeft .UadButtonBalloon {
        background-color: #000 !important;
        margin: -3px 0 0 !important;
        height: 33px !important;
        padding: 0px 8px !important;
        border-color: #999 !important; }
        .MainContainer-commentPanel .VideoMenuContainer-areaLeft .UadButtonBalloon a {
          color: #6898F8 !important;
          text-shadow: 1px 1px 1px #004 !important;
          transition: color 150ms ease-out, text-shadow 150ms ease-out, border 150ms ease-out !important; }
          .MainContainer-commentPanel .VideoMenuContainer-areaLeft .UadButtonBalloon a:hover {
            color: #80c0f0 !important;
            text-shadow: 1px 1px 1px #22a !important; }
          .MainContainer-commentPanel .VideoMenuContainer-areaLeft .UadButtonBalloon a:visited {
            color: #CA85AF !important;
            text-shadow: 1px 1px 1px #fff !important; }
          .MainContainer-commentPanel .VideoMenuContainer-areaLeft .UadButtonBalloon a:active {
            color: #aaf !important; }
    .MainContainer-commentPanel .VideoMenuContainer-areaRight {
      background: #111 !important;
      color: #b8b8b8 !important;
      border-color: #1e1e1e !important;
      filter: brightness(90%) !important; }
    .MainContainer-commentPanel .CommentPanelContainer, .MainContainer-commentPanel .CommentPanelContainer.in-hiddenMiniBanner {
      top: 0 !important;
      bottom: 44px !important; }
    .MainContainer-commentPanel .___header-table___2EekI {
      background: #474747 !important; }
      .MainContainer-commentPanel .___header-table___2EekI > span {
        background: transparent !important;
        color: #eeeeee !important;
        border-color: #1e1e1e !important; }
    .MainContainer-commentPanel .___table___3Fnci > div {
      background: #111 !important;
      color: #9df !important; }
      .MainContainer-commentPanel .___table___3Fnci > div:hover {
        background: #3c3c3c !important; }
      .MainContainer-commentPanel .___table___3Fnci > div span {
        border-color: #666 !important; }
    .MainContainer-commentPanel .___table___3Fnci > div:nth-child(2n-1) {
      background: #111 !important;
      color: #9df !important;
      background: #191919 !important; }
      .MainContainer-commentPanel .___table___3Fnci > div:nth-child(2n-1):hover {
        background: #3c3c3c !important; }

  .VideoStalledPremiumLinkContainer {
    display: none !important; }

  .MarqueeContainer {
    background: #000 !important; }
    .MarqueeContainer .Grid.Marquee, .MarqueeContainer .GridCell.Marquee-itemArea {
      display: none !important; }

  .CommentPanelBannerAd.NicoSpotAdContainer,
  .MiniBannerAdContainer,
  .RectangleAdContainer,
  .SideFollowAdContainer,
  .BottomContainer-adContainer {
    display: none !important; } }
