$dark-bg: #202227;

$darker-bg: #111;
$darker-fg: #b8b8b8;
$darker-border: #1e1e1e; // or #3e3e3e

$title-fg: #d5d555;

$comment-fg: #9df;

$link: #6898F8;
// text-shadow: 1px 1px 1px #004;
// transition: color 150ms ease-out, text-shadow 150ms ease-out, border 150ms ease-out;
$link-hover: #80c0f0;
// text-shadow: 1px 1px 1px #22a;
$link-visited: #CA85AF;
// text-shadow: 1px 1px 1px #fff;
$link-active: #aaf;

$tag-fg: #ddd;
$tag-border: #225;
// text-shadow: 1px 1px 1px #888;
// transition : border 150ms ease-out, text-shadow 150ms ease-out;;
$tag-hover-fg: #fafaf3;
$tag-hover-border: #80c0f0;
// text-shadow: 1px 1px 1px #fafaf3;



// $darkbg1: #111;
// $darkbg2: #202227;
// $darkfg1: #b8b8b8;
