// Use @mixin - @include pair instead of @import;

@mixin title {
    color: $title-fg;
}

@mixin dark {
    // don't use background-color; it won't override background image.
    background: $dark-bg;
}

@mixin darker {
    background: $darker-bg;
    color: $darker-fg;
    border-color: $darker-border;
}

@mixin border-solid($width) {
    border-style: solid;
    border-width: $width;
}

@mixin link {
    color: $link;
    text-shadow: 1px 1px 1px #004;
    transition: color 150ms ease-out, text-shadow 150ms ease-out, border 150ms ease-out;
}
